:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* { /* Tudo */
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

header .container {
    display: flex; /*para o menu ficar em linha*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /*para o menu ficar alinhado ao centro*/
    
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none; /*remove o underline do link*/
    color: #aaa;
    margin-right: 10px; /*distancia entre os links*/
}

header nav a:hover { /*quando o mouse passar por cima do link*/
    color: #fff;
}

/*filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url('/img/RickAndMorty.jpg');

    height: 400px;
    background-size: cover; /*para o background ficar o tamanho da imagem*/

    display: flex;
    flex-direction: column; /*para o texto ficar na vertical*/
    justify-content: center;    
    align-items: flex-start; /*centraliza o texto*/
}

.filme-principal .descricao {
    margin-bottom: 40px; 
}

.titulo {
    font-size: 40px;
}